{% for table in pf_tables | dict2items %}
table <{{ table.key }}> persist file "{{ pf_tables_dir }}/{{ table.key }}"
{% endfor %}

{% for macro in pf_macros | dict2items %}
{{ macro.key }} = "{% if pf_macros[macro.key] | type_debug == "list" %}{ {{ macro.value | join(', ') }} }{% else %}{{ macro.value }}{% endif %}"
{% endfor %}

{% for rule in pf_rules %}
{{ rule }}
{% endfor %}
